<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Suite de Gestión Isari</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Suite_de_Gestion_Isari.styles.css" asp-append-version="true" />
    <style>
        
        body {
            background-color: #f8f9fa; 
        }

        
        header {
            background-color: #343a40; 
            color: white;
        }

       
        footer {
            background-color: #f8f9fa; 
            position: fixed;
            bottom: 0;
            width: 100%;
            padding: 10px 0;
            text-align: center;
        }

       
        .navbar-brand {
            color: #28a745;
        }

            .navbar-brand:hover {
                color: #218838; 
            }
    </style>
</head>
<body>
    

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        
        &copy; 2024 - Suite de Gestión Isari
    </footer>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
