@{
    ViewData["Title"] = "Reportes";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>Reporte</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
     
        <tr>
            <td>Reporte de Inventario</td>
            <td>
                <a href="" class="btn btn-primary">Descargar</a>
            </td>
        </tr>
        <tr>
            <td>Reporte de Empleados</td>
            <td>
                <a href="" class="btn btn-primary">Descargar</a>
            </td>
        </tr>
        <tr>
            <td>Reporte de Ingresos</td>
            <td>
                <a href="" class="btn btn-primary">Descargar</a>
            </td>
        </tr>
    </tbody>
</table>
