@{
    ViewData["Title"] = "Productos Más Vendidos";
}

<h1>@ViewData["Title"]</h1>

<p>Este reporte muestra los productos más vendidos en el día.</p>

<table class="table">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Cantidad Vendida</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
     
        <tr>
            <td>Producto A</td>
            <td>100</td>
            <td>
                <a href="@Url.Action("DescargarReporte", "Reporteria", new { tipo = "productos_mas_vendidos" })" class="btn btn-primary">Descargar</a>
            </td>
        </tr>
        <tr>
            <td>Producto B</td>
            <td>85</td>
            <td>
                <a href="@Url.Action("DescargarReporte", "Reporteria", new { tipo = "productos_mas_vendidos" })" class="btn btn-primary">Descargar</a>
            </td>
        </tr>
        <tr>
            <td>Producto C</td>
            <td>50</td>
            <td>
                <a href="@Url.Action("DescargarReporte", "Reporteria", new { tipo = "productos_mas_vendidos" })" class="btn btn-primary">Descargar</a>
            </td>
        </tr>
    </tbody>
</table>
