@model Suite_de_Gestion_Isari.Entidades.Puestos
@{
    ViewData["Title"] = "Agregar Nuevo Puesto de Trabajo";
}

<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-md-10">
            <div class="shadow rounded bg-light p-5">
                <h1 class="display-5 text-center mb-4">Agregar Nuevo Puesto de Trabajo</h1>

                @if (ViewBag.ErrorMessage != null)
                {
                    <div class="alert alert-danger text-center">
                        @ViewBag.ErrorMessage
                    </div>
                }

                <form asp-action="Agregar" asp-controller="Puesto">
                    <div class="mb-4">
                        <label asp-for="NOMBRE_POSICION" class="form-label fw-bold fs-5">Nombre del Puesto</label>
                        <input type="text" asp-for="NOMBRE_POSICION" class="form-control form-control-lg" placeholder="Ingrese el nombre del puesto" required />
                    </div>

                    <div class="mb-4">
                        <label asp-for="Descripcion" class="form-label fw-bold fs-5">Descripción</label>
                        <input type="text" asp-for="Descripcion" class="form-control form-control-lg" placeholder="Ingrese la descripción" required />
                    </div>

                    <div class="mb-4">
                        <label asp-for="Salario" class="form-label fw-bold fs-5">Salario</label>
                        <input type="number" asp-for="Salario" class="form-control form-control-lg" placeholder="Ingrese el salario para el puesto" required />
                    </div>

                    <button type="submit" class="btn btn-primary w-100 py-3 fs-5">Agregar Puesto</button>
                </form>
            </div>
        </div>
    </div>
</div>
