@model Suite_de_Gestion_Isari.Entidades.Puestos
@{
    ViewData["Title"] = "Agregar Nuevo Puesto de Trabajo";
}



<div class="container mt-5">
    <h1 class="display-4 text-center mb-4">Agregar Nuevo Puesto de Trabajo</h1>

    @if (ViewBag.ErrorMessage != null)
    {
        <div class="d-flex justify-content-center">
            <div class="alert alert-danger text-center w-50">
                @ViewBag.ErrorMessage
            </div>
        </div>
    }

    <form asp-action="Agregar" asp-controller="Puesto">
        
        <div class="mb-3">
            <label for="salario" class="form-label">Nombre</label>
            <input type="text" asp-for="NOMBRE_POSICION" class="form-control" placeholder="Ingrese el nombre del puesto" required>
        </div>


        <div class="mb-3">
            <label for="salario" class="form-label">Descripcion</label>
            <input type="text" asp-for="Descripcion" class="form-control" placeholder="Ingrese la descripción" required>
        </div>

        
        <div class="mb-3">
            <label for="salario" class="form-label">Salario</label>
            <input type="number" asp-for="Salario"  class="form-control" placeholder="Ingrese el salario para el puesto" required>
        </div>

              
        <input type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4" value="Agregar Puesto">
    </form>
</div>
