@{
    ViewData["Title"] = "Puestos de Trabajo";
}

<div class="container mt-5">
    <div class="d-sm-inline-flex flex-row align-items-center container-fluid">
        <h1 class="display-4 flex-grow-1 text-center mb-4">Puestos de Trabajo</h1>
        <a class="btn btn-primary" role="button" asp-controller="Puesto" asp-action="Agregar">Agregar</a>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre del Puesto</th>
                <th scope="col">Descripción</th>
                <th scope="col">Salario</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Gerente</td>
                <td>Encargado de supervisar todo el equipo.</td>
                <td>$5000</td>
                <td>
                    <a class="btn btn-warning btn-sm" asp-controller="Puesto" asp-action="EditarPuesto" asp-route-id="1">Editar</a>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Cajero</td>
                <td>Responsable de atender los clientes en el punto de venta.</td>
                <td>$1500</td>
                <td>
                    <a class="btn btn-warning btn-sm" asp-controller="Puesto" asp-action="EditarPuesto" asp-route-id="2">Editar</a>
                </td>
            </tr>
            
        </tbody>
    </table>

    <div class="text-center mt-3">
        
    </div>
</div>

