@model Suite_de_Gestion_Isari.Entidades.Empleado
@{
    Layout = "~/Views/Shared/Layout_Externo.cshtml";
}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card p-5 shadow bg-dark text-light" style="width: 30rem;">

        <div class="text-center mb-3">
            <img src="~/images/logo.png" alt="Logo Mini Súper" style="width: 200px;"> 
        </div>

        <h5 class="text-center fs-3 mb-4" style="color: #f8f9fa;">       
            Iniciar Sesión
        </h5>
        <h6 class="display-6 text-center mb-4" style="font-size: 1.5rem;">
            
            Bienvenido al Sistema de Gestión del Mini Súper Isari.
        </h6>
       
        @if (ViewData["Error"] != null)
        {
            <div class="alert alert-danger text-center fs-5">
                @ViewData["Error"]
            </div>
        }
        <form asp-action="IniciarSesion" asp-controller="Login">
            <div class="mb-4">
                <label for="correo" class="form-label fs-5">Correo Electrónico</label>
                <input type="email" asp-for="EMAIL" class="form-control form-control-lg" placeholder="Ingrese su correo" required>
            </div>
            <div class="mb-4">
                <label for="precio" class="form-label fs-5">Contraseña</label>
                <input type="password" asp-for="CONTRASENA" class="form-control form-control-lg" placeholder="Ingrese su contraseña" required>
            </div>
            <input type="submit" class="btn btn-success w-100 py-3 fs-5 mb-4" value="Iniciar Sesión">
        </form>
        <div class="text-center mt-3">
            <a class="text-decoration-none text-light fs-6" asp-controller="Login" asp-action="OlvideContrasena">Olvidé mi contraseña</a>
        </div>
    </div>
</div>
