@{
    Layout = "~/Views/Shared/Layout_Externo.cshtml";
}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow" style="width: 25rem;">
        <h1 class="display-6 text-center mb-4">Iniciar Sesión</h1>
        <form>
            <div class="mb-3">
                <label for="correo" class="form-label">Correo Electrónico</label>
                <input type="email" class="form-control" id="correo" placeholder="Ingrese su correo">
            </div>
           
            <a class="btn btn-primary w-100" role="button" asp-controller="Home" asp-action="Index">Recuperar Contraseña</a>
        </form>
        <div class="text-center mt-3">
            <a class="text-decoration-none" asp-controller="Login" asp-action="Login">Iniciar Sesion</a>
        </div>
    </div>
</div>