@model Suite_de_Gestion_Isari.Entidades.Empleado
@{
    Layout = "~/Views/Shared/Layout_Externo.cshtml";
}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow" style="width: 25rem;">
        <h1 class="display-6 text-center mb-4">Recuperar Contraseña</h1>

        @if (TempData["Mensaje"] != null)
        {
            <div class="alert alert-info">
                @TempData["Mensaje"]
            </div>
        }

        <form asp-action="OlvideContrasena" asp-controller="Login">
            <div class="mb-3">
                <label class="form-label">Correo Electrónico</label>
                <input type="email" asp-for="EMAIL" class="form-control">
            </div>

            <input type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4" value="Procesar">
        </form>

        <div class="text-center mt-3">
            <a class="text-decoration-none" asp-controller="Login" asp-action="Login">Iniciar Sesion</a>
        </div>
    </div>
</div>
