<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Suite de Gestión Isari</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Suite_de_Gestion_Isari.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo.png"><span>Suite de Gestión Isari</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdownInventario" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Inventario
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownInventario">
                                <a class="nav-link" asp-area="" asp-controller="Inventario" asp-action="Index">Lista Inventario</a>
                                <a class="nav-link" asp-area="" asp-controller="Inventario" asp-action="Crear">Crear Item</a>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdownPuntoVenta" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Punto de Venta
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownPuntoVenta">
                                <li><a class="dropdown-item" asp-area="" asp-controller="PuntoVenta" asp-action="RegistroVenta">Registrar Venta</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="PuntoVenta" asp-action="HistorialVentas">Historial de Ventas</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="PuntoVenta" asp-action="RegistroDevoluciones">Registro de Devoluciones</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdownAdmin" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Administracion
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownAdmin">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Puesto" asp-action="AgregarPuesto">Agregar Puesto laboral</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Puesto" asp-action="ConsultaPuesto">Consulta Puesto laboral</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdownContabilidad" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Contabilidad
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownContabilidad">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Contabilidad" asp-action="ReportesFinancieros">Reportes Financieros</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Contabilidad" asp-action="RegistroCuentas">Registro de Cuentas</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Contabilidad" asp-action="ResumenDiario">Resumen Diario</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Contabilidad" asp-action="Caja">Caja</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdownCat" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Categoria Productos
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownCat">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Categoria" asp-action="AgregarCategoria">Agregar Categoria</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Categoria" asp-action="ConsultaCategoria">Consulta Categorias</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdownUsuario" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Usuarios
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownUsuario">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Usuario" asp-action="Registro">Agregar Usuario</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Usuario" asp-action="ConsultaUsuario">Consulta Usuario</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Usuario" asp-action="CambioContraseña">Cambio de contraseña</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Usuario" asp-action="ActualizarPerfil">Actualizar Perfil</a>
                        </li>
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link btn btn-danger text-white" asp-controller="Login" asp-action="Login">Cerrar Sesión</a>
                            </li>
                        </ul>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Suite de Gestión Isari - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
