@{
    ViewData["Title"] = "Home Page";
}


<div class="home-container d-flex flex-column align-items-center justify-content-center">
    <img src="~/images/logo.png" class="home-logo">
    <h1 class="display-3">Suite de Gestión Isari</h1>
    <h3 class="display-5">Los mejores precios</h3>
    
</div>
