@{
    ViewData["Title"] = "Agregar Nueva Categoría";
}

<div class="container mt-5">
    <h1 class="display-4 text-center mb-4">Agregar Nueva Categoría</h1>

    <form>
       
        <div class="mb-3">
            <label for="nombreCategoria" class="form-label">Nombre de la Categoría</label>
            <input type="text" class="form-control" id="nombreCategoria" placeholder="Ingrese el nombre de la categoría" required>
        </div>

      
        <div class="mb-3">
            <label for="descripcionCategoria" class="form-label">Descripción</label>
            <textarea class="form-control" id="descripcionCategoria" rows="4" placeholder="Ingrese una descripción de la categoría" required></textarea>
        </div>

        
        <div class="d-flex justify-content-between">
            <a class="btn btn-secondary" role="button" asp-controller="Categoria" asp-action="ConsultaCategoria">Volver</a>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>
</div>
