@model Suite_de_Gestion_Isari.Entidades.Categorias
@{
    ViewData["Title"] = "Agregar Categoría";
}

<div class="container mt-5">
    <h1 class="display-4 text-center mb-4">Agregar Categoría</h1>

    @if (ViewBag.ErrorMessage != null)
    {
        <div class="d-flex justify-content-center">
            <div class="alert alert-danger text-center w-50">
                @ViewBag.ErrorMessage
            </div>
        </div>
    }

    <form asp-action="Agregar" method="post">
        <div class="form-group mb-3">
            <label asp-for="DESCRIPCION"></label>
            <input asp-for="DESCRIPCION" class="form-control" />
            <span asp-validation-for="DESCRIPCION" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
