@model Suite_de_Gestion_Isari.Entidades.Empleado

@{
    ViewData["Title"] = "Actualizar Perfil";
}



<div class="container mt-5">
    <h1 class="display-4 text-center mb-4">Actualizar Perfil</h1>


    @if (ViewBag.Mensaje != null)
    {
        <div class="alert alert-success">@ViewBag.Mensaje</div>
    }
    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger">@ViewBag.Error</div>
    }

    <form asp-controller="Usuario" asp-action="ActualizarPerfil" method="post">

        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" asp-for="NOMBRE" readonly>
        </div>


        <div class="mb-3">
            <label for="cedula" class="form-label">Cédula</label>
            <input type="text" class="form-control" id="cedula" asp-for="CEDULA" readonly>
        </div>

        <div class="mb-3">
            <label for="correo" class="form-label">Correo Electrónico</label>
            <input type="email" class="form-control" id="correo" asp-for="EMAIL" placeholder="Ingrese el nuevo correo electrónico" required>
            <span asp-validation-for="EMAIL" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label for="telefono" class="form-label">Teléfono</label>
            <input type="text" class="form-control" id="telefono" asp-for="TELEFONO" placeholder="Ingrese el nuevo número de teléfono" required>
            <span asp-validation-for="TELEFONO" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label for="puesto" class="form-label">Puesto</label>
            <input type="text" class="form-control" id="puesto" asp-for="NOMBRE_POSICION" readonly>
        </div>

        <div class="mb-3">
            <label for="salario" class="form-label">Salario</label>
            <input type="text" class="form-control" id="salario" asp-for="Salario" readonly>
        </div>

        <div class="mb-3">
            <label for="fechaNacimiento" class="form-label">Fecha de Contratacion</label>
            <input type="text" class="form-control" id="fechaNacimiento" asp-for="FECHA_CONTRATACION" readonly>
        </div>

        <div class="d-flex justify-content-between">
            <a class="btn btn-secondary" role="button" asp-controller="Usuario" asp-action="Index">Volver</a>
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </div>
    </form>
</div>

