@{
    ViewData["Title"] = "Cambio de Contraseña";
}

<div class="container mt-5">
    <h1 class="display-4 text-center mb-4">Cambio de Contraseña</h1>


    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }

    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger">
            @ViewBag.ErrorMessage
        </div>
    }


        <form asp-action="CambioContraseña" asp-controller="Usuario" method="post">

            <div class="mb-3">
                <label for="nuevaContraseña" class="form-label">Nueva Contraseña</label>
                <input type="password" class="form-control" id="nuevaContraseña" name="nuevaContraseña" placeholder="Ingrese la nueva contraseña" required>
            </div>

            <div class="mb-3">
                <label for="confirmarNuevaContraseña" class="form-label">Confirmar Nueva Contraseña</label>
                <input type="password" class="form-control" id="confirmarNuevaContraseña" name="confirmarNuevaContraseña" placeholder="Confirme la nueva contraseña" required>
            </div>

            <input type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4" value="Actualizar Contraseña">
        </form>
    </div>
