@model Suite_de_Gestion_Isari.Entidades.SolicitudVacaciones

@{
    ViewData["Title"] = "Solicitar Vacaciones";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-md-10">
            @* <h1 class="display-4 text-center mb-5">Solicitar Vacaciones</h1> *@

            <div class="card-header  bg-success text-white text-center">
                <h1 class="display-6 mb-0">Solicitar Vacaciones</h1>
            </div>

            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success text-center">@TempData["SuccessMessage"]</div>
            }

            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger text-center">@ViewBag.ErrorMessage</div>
            }

            <form asp-action="SolicitarVacaciones" method="post" class="bg-light p-5 rounded shadow-lg">
                <div class="row mb-4">
                    <div class="col-lg-6">
                        <label for="FECHA_INICIO" class="form-label fw-bold fs-5">Fecha Inicial</label>
                        <input type="date" class="form-control form-control-lg" asp-for="FECHA_INICIO" required>
                    </div>
                    <div class="col-lg-6">
                        <label for="FECHA_FIN" class="form-label fw-bold fs-5">Fecha Final</label>
                        <input type="date" class="form-control form-control-lg" asp-for="FECHA_FIN" required>
                    </div>
                </div>

                <div class="mb-4">
                    <label for="DIAS_SOLICITADOS" class="form-label fw-bold fs-5">Días Solicitados</label>
                    <input type="number" class="form-control form-control-lg" asp-for="DIAS_SOLICITADOS" required>
                </div>

                <div class="mb-4">
                    <label for="MOTIVO" class="form-label fw-bold fs-5">Motivo de las Vacaciones</label>
                    <textarea class="form-control form-control-lg" asp-for="MOTIVO" rows="4" required></textarea>
                </div>

                <div class="d-flex justify-content-between align-items-center mt-4">
                    <a class="btn btn-secondary btn-lg px-5" role="button" asp-controller="Home" asp-action="Index">Volver</a>
                    <button type="submit" class="btn btn-primary btn-lg px-5">Solicitar</button>
                </div>
            </form>
        </div>
    </div>
</div>
