@model Suite_de_Gestion_Isari.Entidades.Productos
@{
    ViewData["Title"] = "Agregar Item";
    var categorias = ViewData["categorias"] as List<Suite_de_Gestion_Isari.Entidades.Categorias>;
}

<div class="container mt-5">
    <h1 class="display-4 text-center mb-4">Agregar Item</h1>
    
    @if (ViewBag.ErrorMessage != null)
    {
        <div class="d-flex justify-content-center">
            <div class="alert alert-danger text-center w-50">
                @ViewBag.ErrorMessage
            </div>
        </div>
    }

    <form asp-action="Agregar" method="post">
        <div class="form-group mb-3">
            <label asp-for="NOMBRE"></label>
            <input asp-for="NOMBRE" class="form-control" />
            <span asp-validation-for="NOMBRE" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="DESCRIPCION"></label>
            <input asp-for="DESCRIPCION" class="form-control" />
            <span asp-validation-for="DESCRIPCION" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="PROVEEDOR"></label>
            <input asp-for="PROVEEDOR" class="form-control" />
            <span asp-validation-for="PROVEEDOR" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="PRECIO"></label>
            <input asp-for="PRECIO" class="form-control" />
            <span asp-validation-for="PRECIO" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="ID_CATEGORIA"></label>
            <select asp-for="ID_CATEGORIA" class="form-control">
                @if (categorias.Count() > 0)
                {
                    @foreach(var categoria in categorias)
                    {
                        <option value="@categoria.ID_CATEGORIA">
                            @categoria.DESCRIPCION
                        </option>
                    }
                }
            </select>
            <span asp-validation-for="ID_CATEGORIA" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="CANTIDAD_DISPONIBLE"></label>
            <input asp-for="CANTIDAD_DISPONIBLE" class="form-control" />
            <span asp-validation-for="CANTIDAD_DISPONIBLE" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
