@{
    ViewData["Title"] = "Editar Item";
}

<div>
    <h1 class="display-4 text-center mb-4">Editar Item</h1>
    <div class="alert alert-warning" role="alert">
        Editando item @ViewBag.id
    </div>
    <form>
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" value="Arroz 91% 1.8kg">
        </div>
        <div class="mb-3">
            <label for="categoria" class="form-label">Categoria</label>
            <input class="form-control" list="datalistCategoria" id="categoria" placeholder="Escribe para buscar..." value="Alimento">
            <datalist id="datalistCategoria">
                <option value="Alimento"/>
                <option value="Limpieza"/>
                <option value="Mascotas"/>
            </datalist>
        </div>
        <div class="mb-3">
            <label for="precio" class="form-label">Precio</label>
            <input type="number" class="form-control" id="precio" value="7000">
        </div>
        <div class="mb-3">
            <label for="unidades" class="form-label">Unidades</label>
            <input type="number" class="form-control" id="unidades" value="4312">
        </div>
    </form>
    <a class="btn btn-secondary" role="button" asp-controller="Inventario" asp-action="Index">Volver</a>
    <a class="btn btn-primary" role="button" asp-controller="Inventario" asp-action="Index">Guardar</a>
</div>
