@{
    ViewData["Title"] = "Eliminar Item";
}

<div>
    <h1 class="display-4">Eliminar Item</h1>
    <div class="alert alert-danger" role="alert">
        ¿Estás seguro de que quieres borrar este item?
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Categoria</th>
                <th scope="col">Precio</th>
                <th scope="col">Unidades</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">@ViewBag.id</th>
                <td>Arroz 91% 1.8kg</td>
                <td>Alimento</td>
                <td>7000</td>
                <td>4312</td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-secondary" role="button" asp-controller="Inventario" asp-action="Index">Volver</a>
    <a class="btn btn-danger" role="button" asp-controller="Inventario" asp-action="Index">Eliminar</a>
</div>
